

/* The main part of the animation */
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
body {
  background: -webkit-radial-gradient(center, ellipse cover, #f5ff00 0%, #18252c 100%);
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
#airplane2, #airplane1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 331px 201px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Comfortaa', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3% 3% 0;
  position: relative;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


#particles-js {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.navigation {
  position: relative;
}

.hamburger__container {
  width: 40px;
  height: 30px;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .hamburger__container {
    position: absolute;
    z-index: 1;
  }
}

.hamburger__container .line {
  background: #ec7263;
  border-radius: 10px;
  left: 0;
  display: block;
  position: absolute;
  height: 6px;
  transform: rotate(0deg);
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
}

.hamburger__container .line:nth-child(1) {
  top: 0px;
}

.hamburger__container .line:nth-child(2),
.hamburger__container .line:nth-child(3) {
  top: 12px;
}

.hamburger__container .line:nth-child(4) {
  top: 24px;
}

#toggle {
  display: none;
}

#toggle ~ .nav {
  list-style: none;
  visibility: hidden;
  height: 0;
  display: flex;
  justify-content: space-around;
  transition-property: visibility, transform;
  transition: height 500ms, visibility 500ms;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #toggle ~ .nav {
    flex-direction: row;
    flex: 1;
    width: 95%;
    transform: translate(1000px, 0);
    transition: visibility 1s 0.5s, transform 0.5s;
  }
}

#toggle ~ .nav .nav__item {
  text-transform: uppercase;
  color: #663399;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  #toggle ~ .nav .nav__item {
    transform: translate(1000px, 0);
    transition: transform 0.5s ease-in-out;
  }

  #toggle ~ .nav .nav__item:nth-child(1) {
    transition-delay: 0.2s;
  }

  #toggle ~ .nav .nav__item:nth-child(2) {
    transition-delay: 0.25s;
  }

  #toggle ~ .nav .nav__item:nth-child(3) {
    transition-delay: 0.3s;
  }

  #toggle ~ .nav .nav__item:nth-child(4) {
    transition-delay: 0.35s;
  }
}

#toggle ~ .nav .nav__item .nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #71ba51;
}

#toggle ~ .nav .nav__item .nav__link:hover {
  color: #000;
}

#toggle:checked + .btn > .hamburger > .line:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#toggle:checked + .btn > .hamburger > .line:nth-child(2) {
  transform: rotate(45deg);
}

#toggle:checked + .btn > .hamburger > .line:nth-child(3) {
  transform: rotate(-45deg);
}

#toggle:checked + .btn > .hamburger > .line:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#toggle:checked ~ .nav {
  height: 50vh;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.03);
}

@media only screen and (min-width: 1024px) {
  #toggle:checked ~ .nav {
    height: 30px;
    transform: translate(0, 0);
    background: none;
  }

  #toggle:checked ~ .nav .nav__item {
    transform: translate(0, 0);
  }
}

.wrapper {
  padding-top: 1.875rem;
}

.wrapper div {
  text-align: center;
}

.wrapper div .inventomainlogo {
  width: 80%;
  max-width: 190px;
}
.wrapper div .saplogo {
  width: 80%;
  max-width: 190px;
}


.main {
  display: block;
  padding: 1rem 0 0;
}

.item__common {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.875rem;
}

.item__common:last-child {
  padding-bottom: 0;
}

.main .headline {
  color: #867198;
  padding: 0.625rem 0;
}

.iticon {
  width: 50%;
  align-self: center;
  padding: 0.625rem;
}

.iticon .img__circle {
  border-radius: 50%;
}

.main .about span {
  color: gold;
  font-size: 1.375rem;
}

.main .badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main .badges .svg-container {
  width: 80%;
  text-align: center;
}

.name {
  color: aqua;
  font-size: 1.375rem;
  padding: 0.625rem;
}

.contact__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.625rem;
}

.contact__icons.bag {
  margin-left: -118px;
}

.contact__icons:last-child {
  padding-bottom: 0;
}

.contact__svg {
  width: 7%;
}

.contact__icons a {
  padding-left: 0.625rem;
  color: inherit;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social .social__icon {
  width: 16%;
  padding: 0.625rem;
}

@media only screen and (min-width: 768px) {
  .main .headline {
    font-size: 1.875rem;
  }

  .iticon {
    width: 28%;
    padding: 0.9375rem;
  }

  .main .badges .svg-container {
    width: 34%;
    padding: 0.3125rem;
  }

  .contact__icons.bag {
    margin-left: -136px;
  }


  .contact__svg {
    width: 5%;
  }

  .contact__icons a {
    font-size: 1.125rem;
  }

  .social {
    padding-bottom: 0.625rem;
  }

  .social .social__icon {
    width: 10%;
    padding: 0.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper div .inventomainlogo {
    width: 100%;
  }
  .wrapper div .saplogo {
    width: 100%;
  }

  .main .headline {
    font-size: 2rem;
  }

  .iticon {
    width: 17%;
  }

  .main .badges .svg-container {
    width: 13%;
    padding: 0.625rem;
  }

  .contact__svg {
    width: 3%;
  }

  .social .social__icon {
    width: 6%;
    padding: 0.875rem;
  }
}



